<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sevenflying.greenhouseclient.app" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/blossom"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sevenflying.greenhouseclient.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sevenflying.greenhouseclient.app.sensortab.SensorStatusActivity"
            android:parentActivityName="com.sevenflying.greenhouseclient.app.MainActivity"
            android:label="@string/title_sensor_status">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sevenflying.greenhouseclient.app.MainActivity"/>
        </activity>
        <activity
            android:name="com.sevenflying.greenhouseclient.app.alertstab.AlertCreationActivity"
            android:parentActivityName="com.sevenflying.greenhouseclient.app.MainActivity"
            android:label="@string/title_add_alert">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sevenflying.greenhouseclient.app.MainActivity"/>
        </activity>
        <activity
            android:name="com.sevenflying.greenhouseclient.app.statustab.MonItemStatusActivity"
            android:parentActivityName="com.sevenflying.greenhouseclient.app.MainActivity"
            android:label="@string/title_item_status">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sevenflying.greenhouseclient.app.MainActivity"/>
        </activity>
        <activity
            android:name="com.sevenflying.greenhouseclient.app.statustab.MoniItemCreationActivity"
            android:parentActivityName="com.sevenflying.greenhouseclient.app.MainActivity"
            android:label="@string/title_add_item">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sevenflying.greenhouseclient.app.MainActivity"/>
        </activity>
        <service android:name="com.sevenflying.greenhouseclient.domain.AlertService"
            android:enabled="true"/>
        <receiver android:name="com.sevenflying.greenhouseclient.domain.AlarmReceiver"/>
    </application>

</manifest>
